input.clear-number::-webkit-outer-spin-button,
input.clear-number::-webkit-inner-spin-button {
  -webkit-appearance: none;

  @apply m-0;
}

input.clear-number {
  -moz-appearance: textfield;
}

.form-row{
  @apply text-body;
}

.form-control {
  @apply block rounded w-full px-3 py-2.5 text-xs placeholder:text-body shadow ring-1 ring-neutral-200 focus:ring-1 focus:ring-neutral-400 outline-none;
}

.c-select{
  @apply relative;

  select{
    @apply flex items-center space-x-2 block w-full rounded bg-white px-4 py-3 border-0 appearance-none shadow ring-1 ring-neutral-200/50;
  }

  svg{
    @apply w-4 h-4 svg-stroke pointer-events-none absolute top-1/2 -translate-y-1/2 right-3;
  }
}

.c-checkbox {
  @apply relative flex items-center cursor-pointer transition;
}

.c-checkbox.is_error .c-checkbox__icon {
  @apply border-red-500;
}

.c-checkbox input[type="checkbox"] {
  @apply absolute h-0 w-0 cursor-pointer opacity-0;
}

.c-checkbox input[type="checkbox"]:checked + .c-checkbox__icon,
.c-checkbox input[type="checkbox"]:checked:disabled + .c-checkbox__icon {
  @apply border-transparent bg-accent text-white;
}

.c-checkbox input[type="checkbox"]:checked + .c-checkbox__icon svg {
  @apply visible;
}

.c-checkbox input[type="checkbox"]:disabled + .c-checkbox__icon {
  @apply cursor-not-allowed bg-white;
}

.c-checkbox input[type="checkbox"]:disabled:checked + .c-checkbox__icon svg {
  @apply cursor-not-allowed;
}

.c-checkbox__icon {
  @apply w-5 h-5 relative shrink-0 bg-white border border-neutral-200 rounded transition;
}

.c-checkbox__icon:focus,
.c-checkbox__icon:hover {
  @apply border-neutral-100;
}

.c-checkbox__icon svg {
  @apply invisible w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform cursor-pointer transition;
}

.c-checkbox__title {
  @apply ml-2 cursor-pointer;
}







.c-radio{
  @apply relative flex items-center cursor-pointer space-x-2 transition;
}

.c-radio__title {
  @apply cursor-pointer;
}

.c-radio input[type="radio"] {
  @apply relative w-5 h-5 border border-neutral-200 rounded-full cursor-pointer appearance-none;
}

.c-radio input[type="radio"]:before{
  content: '';

  @apply w-3.5 h-3.5 rounded-full shrink-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white transition;
}

.c-radio.is_error input[type="radio"] {
  @apply border-red-500;
}

.c-radio input[type="radio"]:checked,
.c-radio input[type="radio"]:checked:disabled {
  @apply border-accent;
}

.c-radio input[type="radio"]:checked:before,
.c-radio input[type="radio"]:checked:disabled:before {
  @apply bg-accent text-white;
}

.c-radio input[type="radio"]:checked:before {
  @apply bg-accent;
}

.c-radio input[type="radio"]:disabled:before {
  @apply cursor-not-allowed bg-white;
}

.c-radio input[type="radio"]:disabled + .c-radio__title {
  @apply cursor-not-allowed;
}

.c-radio input[type="radio"]:disabled:checked:before {
  @apply cursor-not-allowed;
}

.c-radio__icon input[type="radio"]:focus:before,
.c-radio__icon input[type="radio"]:hover:before {
  @apply border-neutral-100;
}
